<!-- <h1>Landing Page</h1>

   <div class="navbar-collapse collapse" id="navbar-main">
         <ul class="nav navbar-nav navbar-right">

            <li><%= link_to "Sign in with Twitter", "/auth/twitter" %></li>

         </ul>

  </div> -->

<div class = "container-fluid">

   <div class="row">

 <div class="col-md-6 therapist"> <%= image_tag 'therapist_large.png' %></div>

<div class=s="col-md-6">
    <h1 class="logo">DR. MOODSWINGS</h1>
  <li class="sign-in"><%= link_to "Sign in with Twitter", "/auth/twitter" %></li>
  </div>
</div>
