/*Jquery animate percentage loader*/
      #topLoader {
        width: 256px;
        height: 256px;
        margin-bottom: 62px;
      }

      #animateButton {
        width: 256px;
        margin-bottom: 10px;
      }


input {
  margin-bottom: 10px;
}
